<% provide :title, t("view.users.user.edit") %>
<% provide :button_text, t("view.users.user.btn_save") %>
<h1><%= t "view.users.user.update_profile" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <%= link_to t("view.users.user.change"), t("view.users.user.url_avatar") , target: "_blank", class: "btn btn-large btn-primary" %>
    </div>
  </div>
</div>
