<main id="tg-main" class="tg-main tg-haslayout">
  <div class="new">
    <div class="tg-coming">
          <strong class="tg-logo">
            <%= link_to image_tag("logo-02.png", alt: "logo") %>
          </strong>
              <div class="tg-formtheme tg-formnewsletter">
                <%= render "form" %>
              </div>
  </div>
  </div>
</main>
