@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bootstrap/glyphicons';

/*=============================================
      Theme Text Color
=============================================*/
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.tg-stars span:after,
.tg-textbox h3 span,
.tg-bookprice ins,
.tg-newsletter h4,
.tg-404errorcontent span,
.tg-widget ul li:hover a,
.tg-widget ul li a:hover,
.tg-widget ul li:hover a span,
.tg-widget ul li:hover a em,
.tg-relatedbooks .tg-postbook .tg-bookprice ins{color: #77b748;}
/*=============================================
      Theme Background Color
=============================================*/
.tg-btn:hover,
.tg-btn.tg-active,
.tg-navigationarea,
.owl-prev:hover,
.owl-next:hover,
.tg-testimonial figure:before,
.tg-headervtwo .tg-formsearch fieldset button,
.tg-homeslidervtwo .tg-slidercontent .tg-btns .tg-btn:hover,
.tg-homeslidervtwo .tg-slidercontent .tg-btns .tg-btn.tg-active,
.tg-breadcrumb,
#seconds,
.tg-quantityholder .minus:hover,
.tg-quantityholder .plus:hover,
.tg-themetabs li a:before,
.tg-tag:hover,
.tg-btnreply:hover{background:#77b748;}
/*=============================================
      Theme Border Color
=============================================*/
textarea:focus,
.tg-btn:hover,
.tg-btn.tg-active,
input:focus,
.select select:focus,
.form-control:focus,
.tg-themedropdownmenu,
.owl-prev:hover,
.owl-next:hover,
.tg-pickedbyauthor .tg-postbook:hover,
.tg-testimonial figure img,
.tg-footer,
.tg-quantityholder .minus:hover,
.tg-quantityholder .plus:hover,
.tg-tag:hover,
.tg-comments li .tg-authorbox:hover,
.tg-comments li .tg-authorbox:hover .tg-bottomarrow,
.tg-btnreply:hover{ border-color: #77b748;}
/*=============================================
      Theme Shadow Color
=============================================*/
.tg-btn:hover,
.tg-btn.tg-active {box-shadow:inset 0 -2px 0 0 #649b3c;}
/*=============================================
      Theme Secondary Color
=============================================*/
.tg-bookscategories li a:hover,
.tg-bookwriter:hover a,
.tg-contactdetail .tg-contactinfo li span em a,
.tg-newslist .tg-post .tg-postcontent .tg-description p a,
.tg-addreviews a,
.tg-productcontent .tg-description p a,
.tg-alsoavailable figure figcaption ul li:hover span,
.tg-widget ul li a.tg-btnviewall{color: #55acee;}

/*=============================================
      Theme Tags Color
=============================================*/
.tg-themetag { background: #f16945; }

.tg-themetag:before { border-color: #f16945; }

/*=============================================
      Theme Counter Color
=============================================*/
.tg-drama .tg-collectioncountericon{background: #93648d;}
.tg-drama h2,
.tg-devlivery .tg-clientserviceicon i{color: #93648d;}
.tg-horror .tg-collectioncountericon,
.tg-widget ul li:hover:before{background: #4cc3d9;}
.tg-horror h2,
.tg-discount .tg-clientserviceicon i{color: #4cc3d9;}
.tg-romance .tg-collectioncountericon{background: #7bc8a4;}
.tg-romance h2,
.tg-quality .tg-clientserviceicon i{color: #7bc8a4;}
.tg-fashion .tg-collectioncountericon{background: #f16745;}
.tg-fashion h2,
.tg-delevrystock li span em,
.tg-support .tg-clientserviceicon i{color: #f16745;}

.voilamdo{
  background-image: url('parallax/bgparallax-04.jpg');
  background-attachment: fixed;
  background-size:cover;
}
.status1 {
  background-image: url('parallax/bgparallax-01.jpg');
  background-attachment: fixed;
  background-size:cover;
}
.status2 {
  background-image: url('parallax/bgparallax-02.jpg');
  background-attachment: fixed;
  background-size:cover;
}
.status3 {
  background-image: url('parallax/bgparallax-03.jpg');
  background-attachment: fixed;
  background-size:cover;
}
.books {
  height:350px;
}

/* =============================================
      Comingsoon Style
============================================= */
.tg-coming{
  max-width:570px;
  width:100%;
  margin:0 auto;
  background:#fff;
  overflow:hidden;
}
.tg-coming .tg-logo{
  width:100%;
  padding:60px 20px;
  border-bottom:1px solid #dbdbdb;
}
.tg-coming .tg-logo img{
  width:auto;
  height:auto;
  display:block;
  margin:0 auto;
}
.tg-coming .tg-formnewsletter{
  margin:0;
  padding:30px;
  background:#f7f7f7;
}



.new {
  background-image: url('comingsoon-bg.jpg');
  background-size: cover;
    background-attachment:fixed;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
