<header id="tg-header" class="tg-header tg-haslayout">
      <div class="tg-topbar">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <ul class="tg-addnav">
                <li>
                  <a href="javascript:void(0);">
                    <i class="fa fa-envelope"></i>
                    <em>Contact</em>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <i class="fa fa-question-circle"></i>
                    <em>Help</em>
                  </a>
                </li>
              </ul>
              <div style="float: right">
                <ul class="tg-addnav">
                <li>
                  <a href="javascript:void(0);">
                    <i style="float: left" class="fa fa-sign-in"></i>
                    <em>Login</em>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <i style="float: left" class="fa fa-user"></i>
                    <em>Sign Up</em>
                  </a>
                </li>
              </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tg-middlecontainer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <strong class="tg-logo">
              <a href="index-2.html">
                <%= link_to image_tag("logo.png", alt: "company name here") %>
              </a></strong>
              <div class="tg-wishlistandcart">
                <div class="dropdown tg-themedropdown tg-wishlistdropdown">
                  <a href="javascript:void(0);" id="tg-wishlisst" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="tg-themebadge">3</span>
                    <i class="icon-heart"></i>
                    <span>Wishlist</span>
                  </a>
                  <div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-wishlisst">
                    <div class="tg-description"><p>No products were added to the wishlist!</p></div>
                  </div>
                </div>

              </div>
              <div class="tg-searchbox">
                <form class="tg-formtheme tg-formsearch">
                  <fieldset>
                    <input type="text" name="search" class="typeahead form-control" placeholder="Search by title, author, keyword, ISBN...">
                    <button type="submit"><i class="icon-search"></i></button>
                  </fieldset>
                  <a href="javascript:void(0);">+  Advanced Search</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tg-navigationarea">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <nav id="tg-nav" class="tg-nav">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                  <ul>
                    <li class="menu-item-has-children">
                      <a href="javascript:void(0);">All Categories</a>
                      <ul class="sub-menu">
                        <% load_categories.each do |category| %>
                        <li class="<%= 'active' if params[:category] == category.name %>">
                          <%= link_to category.name, books_find_path(category: category.id), class: "link" %>
                        </li>
                        <% end %>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">Home</a>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="javascript:void(0);">Authors</a>
                      <ul class="sub-menu">
                        <li><a href="authors.html">Authors</a></li>
                        <li><a href="authordetail.html">Author Detail</a></li>
                      </ul>
                    </li>

                    <li><%= link_to "Books", books_path %></li>
                    <li class="menu-item-has-children">
                      <a href="javascript:void(0);">Latest News</a>
                      <ul class="sub-menu">
                        <li><a href="newslist.html">News List</a></li>
                        <li><a href="newsgrid.html">News Grid</a></li>
                        <li><a href="newsdetail.html">News Detail</a></li>
                      </ul>
                    </li>
                    <li><a href="contactus.html">Contact</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
</header>
